@import "./parameters";

/*----Sidebar-----*/
@import "./sidebar";

/*----Header----*/
@import "./header";

/*----Results----*/
@import "./results";


@import "./spinner";

.estado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    width: 6em;
    padding: 4px 0;
    border-radius: 8px;
    cursor: pointer;
}

.btn {
    padding: 12px 16px;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.dark2 {
    background-color: $dark2;
    &:hover {
        background-color: $dark;
    }

    &.dark {
        background-color: $night-blue;
    }
}

.project-selected {
    color: rgb(87, 221, 245);
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    width: 94%;
    position: relative;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100vh;

    &.dark {
        background-color: $night-body;
    }
}

main {
    height: 100%;
    @extend .justify-center;
    position: relative;
    margin-left: 22em;

    &.min-sidebar {
        margin-left: 5em;
    }
}

.container {
    table {
        width: 100%;
        margin-top: 15em;
        padding-top: 1em;
        border-collapse: collapse;

        thead {
            color: $dark-gray;
            text-transform: uppercase;
            font-size: 0.95em;

            &.dark {
                color: $night-blue;
            }

            #bug-cell {
                min-width: 24em;
            }

            th {
                text-align: start;

                #sort-date {
                    margin-left: 5px;
                    cursor: pointer;
                    font-size: 1.1em;
                    transition: 0.2s;

                    &:hover {
                        color: $dark2;
                    }
                }
            }
            #due-header {
                padding-right: 1em;
            }
        }

        tbody {
            margin-top: 1em;

            &.dark {
                color: rgb(248, 248, 248);
            }

            tr {
                transition: 0;
                cursor: move;

                &.dragged {
                    opacity: 0;
                }
            }
            td {
                border-bottom: 2px solid rgba(183, 183, 183, 0.5);
                padding: 20px 1.5em 20px 0;
            }

            select {
                border: none;
                padding: 8px;
                border-radius: 8px;
                background-color: $gray87;
            }

            #new-status {
                width: 6.5em;
                height: 2em;
            }

            .bug-name {
                font-weight: 500;
            }

            .date {
                font-size: 0.9em;
                font-weight: 500;
                color: $dark-gray;

                &.dark {
                    color: rgb(248, 248, 248);
                }
            }

            .trash {
                font-size: 1em;
                color: rgb(124, 124, 124);
                cursor: pointer;
                transition: 0.25s;

                &:hover {
                    color: rgb(189, 0, 0);
                    transition: 0.25s;
                }
            }

            .responsable {
                color: $dark-gray;

                &.dark {
                    color: rgb(248, 248, 248);
                }
            }

            .warning-h3 {
                font-weight: 500;
                margin-top: 1.5em;
                font-size: 1em;
                color: $dark-gray;

                &.dark {
                    color: #fff!important;
                }

                .warning-btn {
                    text-decoration: underline 2px;
                    color: $green2;
                    background-color: $green;
                    padding: 2px 8px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

.modal {
    display: none;
    transition: opacity 0.3s ease !important;
    z-index: 9005 !important;

    .fa-times {
        position: absolute;
        top: 0.8em;
        right: 1.8em;
        font-size: 1.2em;
        color: $strong-gray;
        cursor: pointer;
    }

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        filter: drop-shadow(0px 15px 43px rgba(0, 0, 0, 0.3));

        p {
            color: rgb(131, 3, 3);
            font-weight: 500;
        }

        .form {
            position: absolute;
            background-color: #fff;
            padding: 1em 0.5em;
            display: flex;
            flex-direction: column;
            gap: 1.2em;
            width: 25em;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            z-index: 101;

            .form-group {
                display: flex;
                flex-direction: column;
                width: 90%;
                gap: 5px;

                label {
                    font-weight: 500;
                }

                input {
                    border: none;
                    border: 2px solid #c2c2c2;
                    padding: 8px;
                    border-radius: 8px;
                    font-family: roboto;

                    &:focus {
                        border: 2px solid $dark !important;
                        outline: none;
                    }
                }

                select {
                    border: none;
                    padding: 8px;
                    border-radius: 8px;
                    background-color: $gray87;
                }

                #new-status {
                    width: 10em;
                }
            }

            .btn-row {
                display: flex;
                justify-content: flex-end;
                width: 90%;
                gap: 5px;

                button {
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;
                    border-radius: 8px;

                    &.primary {
                        background-color: $dark;
                        color: #fff;
                    }

                    &.secondary {
                        background-color: rgb(238, 236, 236);
                        color: #000;
                    }
                }
            }

            .btn-edit {
                display: flex;
                justify-content: flex-start;
                width: 90%;
                gap: 5px;

                button {
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;
                    border-radius: 8px;

                    &.primary {
                        background-color: $dark;
                        color: #fff;
                    }

                    &.secondary {
                        background-color: rgb(238, 236, 236);
                        color: #000;
                    }
                }
            }
        }
    }

    &.edit {
        .form {
            width: 20em;
            padding-top: 2em;
        }
    }
}
